# Individual Assignment

# Part 2 - Benchmark Experiment

## 1. Libraries

In [1]:
# Data processing library
library(data.table)
library(varhandle)
library(stringr)
library(mlr)
install.packages('woeBinning')
library(woeBinning)  # Bin numerical and categorical variables
library(Boruta)  # Variable selection

# Machine learning library
library(MASS)  # LDA
library(randomForest)  # RF
library(gbm)  # Boosting Tree
library(xgboost)  # XGboost
install.packages("ada")
library(ada)
install.packages("e1071")
library(e1071)

Warning message:
"package 'varhandle' was built under R version 3.6.2"Warning message:
"package 'mlr' was built under R version 3.6.3"Loading required package: ParamHelpers
Warning message:
"package 'ParamHelpers' was built under R version 3.6.3"'mlr' is in maintenance mode since July 2019. Future development
efforts will go into its successor 'mlr3' (<https://mlr3.mlr-org.com>).
Installing package into 'C:/Users/razow/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'woeBinning' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\razow\AppData\Local\Temp\RtmpshSc8l\downloaded_packages

Warning message:
"package 'Boruta' was built under R version 3.6.3"Loading required package: ranger
Warning message:
"package 'ranger' was built under R version 3.6.3"Warning message:
"package 'MASS' was built under R version 3.6.3"Warning message:
"package 'randomForest' was built under R version 3.6.2"randomForest 4.6-14
Type rfNews() to see new features/changes/bug fixes.

Attaching package: 'randomForest'

The following object is masked from 'package:ranger':

    importance

Warning message:
"package 'gbm' was built under R version 3.6.3"Loaded gbm 2.1.5
Warning message:
"package 'xgboost' was built under R version 3.6.3"Installing package into 'C:/Users/razow/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'ada' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\razow\AppData\Local\Temp\RtmpshSc8l\downloaded_packages

Warning message:
"package 'ada' was built under R version 3.6.3"Loading required package: rpart
Warning message:
"package 'rpart' was built under R version 3.6.3"Installing package into 'C:/Users/razow/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'e1071' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'e1071'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\razow\Documents\R\win-library\3.6\00LOCK\e1071\libs\x64\e1071.dll  a C:\Users\razow\Documents\R\win-library\3.6\e1071\libs\x64\e1071.dll: Permission denied"Warning message:
"restored 'e1071'"

The downloaded binary packages are in
	C:\Users\razow\AppData\Local\Temp\RtmpshSc8l\downloaded_packages

Warning message:
"package 'e1071' was built under R version 3.6.3"
Attaching package: 'e1071'

The following object is masked from 'package:mlr':

    impute

In [2]:
## Loading required package: mlbench
install.packages("mlbench")
library(mlbench)

Installing package into 'C:/Users/razow/Documents/R/win-library/3.6'
(as 'lib' is unspecified)

package 'mlbench' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'mlbench'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problema al copiar C:\Users\razow\Documents\R\win-library\3.6\00LOCK\mlbench\libs\x64\mlbench.dll  a C:\Users\razow\Documents\R\win-library\3.6\mlbench\libs\x64\mlbench.dll: Permission denied"Warning message:
"restored 'mlbench'"

The downloaded binary packages are in
	C:\Users\razow\AppData\Local\Temp\RtmpshSc8l\downloaded_packages

Warning message:
"package 'mlbench' was built under R version 3.6.3"

## 2. Data exploration and processing

#### Read and analize data

In [3]:
# Read train, test
train <- read.csv('C:/Users/razow/Desktop/IESEG Subjects/11 Statistical and machine learning approaches/Session 5/SML_Section5_v2.1/data/Kaggle/input/bank_mkt_train.csv')  # Training dataset
test_holdout <- read.csv('C:/Users/razow/Desktop/IESEG Subjects/11 Statistical and machine learning approaches/Session 5/SML_Section5_v2.1/data/Kaggle/input/bank_mkt_test.csv')  # Holdout data set without response

In [4]:
# Print out to check the data type
str(train)

'data.frame':	7000 obs. of  21 variables:
 $ client_id     : int  2 3 4 5 6 7 8 9 14 15 ...
 $ age           : int  29 39 49 32 29 51 34 52 52 29 ...
 $ job           : Factor w/ 12 levels "admin.","blue-collar",..: 4 11 2 7 1 7 2 8 1 1 ...
 $ marital       : Factor w/ 4 levels "divorced","married",..: 3 2 2 3 3 2 2 2 2 3 ...
 $ education     : Factor w/ 8 levels "basic.4y","basic.6y",..: 4 3 2 7 4 7 1 4 7 7 ...
 $ default       : Factor w/ 2 levels "no","unknown": 1 2 2 1 2 2 1 1 1 1 ...
 $ housing       : Factor w/ 3 levels "no","unknown",..: 1 3 1 3 3 3 3 3 3 3 ...
 $ loan          : Factor w/ 3 levels "no","unknown",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ contact       : Factor w/ 2 levels "cellular","telephone": 2 2 1 1 1 2 1 1 1 1 ...
 $ month         : Factor w/ 10 levels "apr","aug","dec",..: 7 5 8 7 4 5 8 8 8 5 ...
 $ day_of_week   : Factor w/ 5 levels "fri","mon","thu",..: 2 1 4 2 1 4 4 4 3 2 ...
 $ campaign      : int  3 6 2 3 2 1 1 1 3 1 ...
 $ pdays         : int  999 999 999 999 999 999 999 999 999 999 ...
 $ previous      : int  0 0 0 1 0 0 0 0 0 0 ...
 $ poutcome      : Factor w/ 3 levels "failure","nonexistent",..: 2 2 2 1 2 2 2 2 2 2 ...
 $ emp.var.rate  : num  1.1 1.4 -0.1 -1.8 1.4 1.4 -0.1 -0.1 -0.1 -2.9 ...
 $ cons.price.idx: num  94 94.5 93.2 92.9 93.9 ...
 $ cons.conf.idx : num  -36.4 -41.8 -42 -46.2 -42.7 -41.8 -42 -42 -42 -40.8 ...
 $ euribor3m     : num  4.86 4.96 4.15 1.3 4.96 ...
 $ nr.employed   : num  5191 5228 5196 5099 5228 ...
 $ subscribe     : int  0 0 0 0 0 0 0 0 0 0 ...

In [5]:
str(test_holdout)

'data.frame':	3000 obs. of  20 variables:
 $ client_id     : int  1 10 11 12 13 17 20 23 25 28 ...
 $ age           : int  33 45 33 38 30 33 37 50 43 37 ...
 $ job           : Factor w/ 12 levels "admin.","blue-collar",..: 10 8 10 2 10 2 2 5 2 1 ...
 $ marital       : Factor w/ 4 levels "divorced","married",..: 3 2 3 2 3 2 1 2 2 2 ...
 $ education     : Factor w/ 7 levels "basic.4y","basic.6y",..: 6 4 5 3 6 3 5 6 3 6 ...
 $ default       : Factor w/ 2 levels "no","unknown": 1 2 1 2 1 1 1 1 1 1 ...
 $ housing       : Factor w/ 3 levels "no","unknown",..: 1 3 3 1 1 3 3 1 3 1 ...
 $ loan          : Factor w/ 3 levels "no","unknown",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ contact       : Factor w/ 2 levels "cellular","telephone": 1 1 2 2 2 1 1 1 1 2 ...
 $ month         : Factor w/ 10 levels "apr","aug","dec",..: 8 2 6 4 7 4 8 4 8 5 ...
 $ day_of_week   : Factor w/ 5 levels "fri","mon","thu",..: 2 3 4 5 3 4 3 3 5 2 ...
 $ campaign      : int  1 3 2 3 5 1 1 1 1 8 ...
 $ pdays         : int  999 999 999 999 999 999 999 999 999 999 ...
 $ previous      : int  0 0 0 0 0 0 0 0 0 0 ...
 $ poutcome      : Factor w/ 3 levels "failure","nonexistent",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ emp.var.rate  : num  -0.1 1.4 -1.8 1.4 1.1 1.4 -0.1 1.4 -0.1 1.4 ...
 $ cons.price.idx: num  93.2 93.4 93.4 93.9 94 ...
 $ cons.conf.idx : num  -42 -36.1 -34.8 -42.7 -36.4 -42.7 -42 -42.7 -42 -41.8 ...
 $ euribor3m     : num  4.191 4.963 0.646 4.956 4.86 ...
 $ nr.employed   : num  5196 5228 5009 5228 5191 ...

In [54]:
summary(train)

   client_id         age                 job           marital
 Min.   :   2   Min.   :18.00   admin.     :1756   divorced: 758
 1st Qu.:2486   1st Qu.:32.00   blue-collar:1541   married :4306
 Median :5018   Median :38.00   technician :1143   single  :1928
 Mean   :5003   Mean   :40.34   services   : 668   unknown :   8
 3rd Qu.:7512   3rd Qu.:48.00   management : 534
 Max.   :9998   Max.   :98.00   retired    : 306
                                (Other)    :1052
               education       default        housing          loan
 university.degree  :2103   no     :5571   no     :3189   no     :5806
 high.school        :1638   unknown:1429   unknown: 171   unknown: 171
 basic.9y           : 993                  yes    :3640   yes    :1023
 professional.course: 886
 basic.4y           : 716
 basic.6y           : 362
 (Other)            : 302
      contact         month      day_of_week    campaign          pdays
 cellular :4482   may    :2323   fri:1320    Min.   : 1.000   Min.   :  0.0
 telephone:2518   jul    :1220   mon:1426    1st Qu.: 1.000   1st Qu.:999.0
                  aug    :1036   thu:1440    Median : 2.000   Median :999.0
                  jun    : 896   tue:1421    Mean   : 2.555   Mean   :962.3
                  nov    : 689   wed:1393    3rd Qu.: 3.000   3rd Qu.:999.0
                  apr    : 452               Max.   :33.000   Max.   :999.0
                  (Other): 384
    previous             poutcome     emp.var.rate      cons.price.idx
 Min.   :0.0000   failure    : 748   Min.   :-3.40000   Min.   :92.20
 1st Qu.:0.0000   nonexistent:6021   1st Qu.:-1.80000   1st Qu.:93.08
 Median :0.0000   success    : 231   Median : 1.10000   Median :93.44
 Mean   :0.1761                      Mean   : 0.04881   Mean   :93.57
 3rd Qu.:0.0000                      3rd Qu.: 1.40000   3rd Qu.:93.99
 Max.   :6.0000                      Max.   : 1.40000   Max.   :94.77

 cons.conf.idx      euribor3m      nr.employed     subscribe
 Min.   :-50.80   Min.   :0.634   Min.   :4964   Min.   :0.0000
 1st Qu.:-42.70   1st Qu.:1.334   1st Qu.:5099   1st Qu.:0.0000
 Median :-41.80   Median :4.857   Median :5191   Median :0.0000
 Mean   :-40.47   Mean   :3.587   Mean   :5165   Mean   :0.1174
 3rd Qu.:-36.40   3rd Qu.:4.961   3rd Qu.:5228   3rd Qu.:0.0000
 Max.   :-26.90   Max.   :5.045   Max.   :5228   Max.   :1.0000

   pdays_999      age_ge_mean      month_summer
 Min.   :0.000   Min.   :0.0000   Min.   :0.0000
 1st Qu.:1.000   1st Qu.:0.0000   1st Qu.:0.0000
 Median :1.000   Median :0.0000   Median :0.0000
 Mean   :0.963   Mean   :0.4344   Mean   :0.3223
 3rd Qu.:1.000   3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :1.000   Max.   :1.0000   Max.   :1.0000

                                               job.binned       age.binned
 admin. + management + technician + misc. level neg.:3907   (-Inf,26]: 372
 blue-collar + services                             :2209   (26,36]  :2704
 misc. level pos.                                   : 884   (36,55]  :3291
 unknown                                            :   0   (55, Inf]: 633
                                                            Missing  :   0

In [55]:
summary(test_holdout)

   client_id          age                  job          marital
 Min.   :    1   Min.   :18.00   admin.      :768   divorced: 367
 1st Qu.: 2525   1st Qu.:32.00   blue-collar :681   married :1731
 Median : 4968   Median :38.00   technician  :519   single  : 892
 Mean   : 4996   Mean   :39.78   services    :258   unknown :  10
 3rd Qu.: 7478   3rd Qu.:47.00   management  :213
 Max.   :10000   Max.   :85.00   entrepreneur:116
                                 (Other)     :445
               education      default        housing          loan
 basic.4y           :302   no     :2369   no     :1372   no     :2469
 basic.6y           :159   unknown: 631   unknown:  64   unknown:  64
 basic.9y           :434                  yes    :1564   yes    : 467
 high.school        :694
 professional.course:392
 university.degree  :878
 unknown            :141
      contact         month     day_of_week    campaign         pdays
 cellular :1896   may    :979   fri:593     Min.   : 1.00   Min.   :  0.0
 telephone:1104   jul    :559   mon:631     1st Qu.: 1.00   1st Qu.:999.0
                  aug    :432   thu:585     Median : 2.00   Median :999.0
                  jun    :396   tue:601     Mean   : 2.67   Mean   :963.9
                  nov    :282   wed:590     3rd Qu.: 3.00   3rd Qu.:999.0
                  apr    :197               Max.   :42.00   Max.   :999.0
                  (Other):155
    previous             poutcome     emp.var.rate     cons.price.idx
 Min.   :0.0000   failure    : 293   Min.   :-3.4000   Min.   :92.20
 1st Qu.:0.0000   nonexistent:2612   1st Qu.:-1.8000   1st Qu.:93.08
 Median :0.0000   success    :  95   Median : 1.1000   Median :93.92
 Mean   :0.1643                      Mean   : 0.0977   Mean   :93.59
 3rd Qu.:0.0000                      3rd Qu.: 1.4000   3rd Qu.:93.99
 Max.   :5.0000                      Max.   : 1.4000   Max.   :94.77

 cons.conf.idx      euribor3m      nr.employed     pdays_999
 Min.   :-50.80   Min.   :0.634   Min.   :4964   Min.   :0.0000
 1st Qu.:-42.70   1st Qu.:1.344   1st Qu.:5099   1st Qu.:1.0000
 Median :-41.80   Median :4.857   Median :5191   Median :1.0000
 Mean   :-40.47   Mean   :3.637   Mean   :5167   Mean   :0.9647
 3rd Qu.:-36.40   3rd Qu.:4.961   3rd Qu.:5228   3rd Qu.:1.0000
 Max.   :-26.90   Max.   :5.045   Max.   :5228   Max.   :1.0000

  age_ge_mean      month_summer
 Min.   :0.0000   Min.   :0.0000
 1st Qu.:0.0000   1st Qu.:0.0000
 Median :0.0000   Median :0.0000
 Mean   :0.4113   Mean   :0.3303
 3rd Qu.:1.0000   3rd Qu.:1.0000
 Max.   :1.0000   Max.   :1.0000

                                               job.binned       age.binned
 admin. + management + technician + misc. level neg.:1710   (-Inf,26]: 171
 blue-collar + services                             : 939   (26,36]  :1189
 misc. level pos.                                   : 351   (36,55]  :1380
 unknown                                            :   0   (55, Inf]: 260
                                                            Missing  :   0


 subscribe
 Mode:logical
 NA's:3000

#### Check and fix data error (if any).

In [8]:
# Check missing value
apply(is.na(train), 2, sum)

     client_id            age            job        marital      education
             0              0              0              0              0
       default        housing           loan        contact          month
             0              0              0              0              0
   day_of_week       campaign          pdays       previous       poutcome
             0              0              0              0              0
  emp.var.rate cons.price.idx  cons.conf.idx      euribor3m    nr.employed
             0              0              0              0              0
     subscribe
             0

### Feature engineering

#### Add variable: pdays_999

In [9]:
# Add new variable to train and test (holdout)
# pdays == 999 is a special value
# Train
train[, 'pdays_999'] <- as.integer(train$pdays == 999)
# Test (holdout)
test_holdout[, 'pdays_999'] <- as.integer(test_holdout$pdays == 999)

#### Add variable: age > mean(age)

In [10]:
# Add new variable to train and test (holdout)
# Train
train[, 'age_ge_mean'] <- as.integer(train$age > mean(train$age))
# Test (holdout)
test_holdout[, 'age_ge_mean'] <- as.integer(test_holdout$age > mean(train$age))

#### Add variable: month_summer

In [11]:
# Add new variable to train and test (holdout)
# Train
train[, 'month_summer'] <- as.integer(train$month %in% c('jul', 'aug'))
# Test (holdout)
test_holdout[, 'month_summer'] <- as.integer(test_holdout$month %in% c('jul', 'aug'))

### Data Processing

#### Grouping (or binning) categorical variables

In [12]:
# Grouping 12 categories in the variable job onto 3 groups using WOE
binning_cat <- woe.binning(train, 'subscribe', 'job')
binning_cat

[[1]]
[1] "job"

[[2]]
                                               Group.2       Group.1
7                               blue-collar + services   blue-collar
8                               blue-collar + services      services
1  admin. + management + technician + misc. level neg.        admin.
2  admin. + management + technician + misc. level neg.  entrepreneur
3  admin. + management + technician + misc. level neg.     housemaid
4  admin. + management + technician + misc. level neg.    management
5  admin. + management + technician + misc. level neg.    technician
6  admin. + management + technician + misc. level neg.       unknown
9                                     misc. level pos.       retired
10                                    misc. level pos. self-employed
11                                    misc. level pos.       student
12                                    misc. level pos.    unemployed
           woe iv.total.final   1    0 col.perc.a col.perc.b      iv.bins
7  -46.7406855      0.1562879 170 2039  0.2068127  0.3300421 5.759828e-02
8  -46.7406855      0.1562879 170 2039  0.2068127  0.3300421 5.759828e-02
1   -0.9402155      0.1562879 455 3452  0.5535280  0.5587569 4.916292e-05
2   -0.9402155      0.1562879 455 3452  0.5535280  0.5587569 4.916292e-05
3   -0.9402155      0.1562879 455 3452  0.5535280  0.5587569 4.916292e-05
4   -0.9402155      0.1562879 455 3452  0.5535280  0.5587569 4.916292e-05
5   -0.9402155      0.1562879 455 3452  0.5535280  0.5587569 4.916292e-05
6   -0.9402155      0.1562879 455 3452  0.5535280  0.5587569 4.916292e-05
9   76.7878915      0.1562879 197  687  0.2396594  0.1112010 9.864044e-02
10  76.7878915      0.1562879 197  687  0.2396594  0.1112010 9.864044e-02
11  76.7878915      0.1562879 197  687  0.2396594  0.1112010 9.864044e-02
12  76.7878915      0.1562879 197  687  0.2396594  0.1112010 9.864044e-02

[[3]]
iv.total.final
     0.1562879

In [13]:
# Apply the binning to the train data
train <- woe.binning.deploy(train, binning_cat)
head(train[, c('job', 'job.binned')])

  job           job.binned
1 housemaid     admin. + management + technician + misc. level neg.
2 unemployed    misc. level pos.
3 blue-collar   blue-collar + services
4 self-employed misc. level pos.
5 admin.        admin. + management + technician + misc. level neg.
6 self-employed misc. level pos.

In [14]:
# Apply the binning to the test (holdout) data
test_holdout <- woe.binning.deploy(test_holdout, binning_cat)

#### Grouping (or binning) numerical variables

In [15]:
# Grouping the variable age onto 4 groups using WOE
binning_num <- woe.binning(train, 'subscribe', 'age')
binning_num

[[1]]
[1] "age"

[[2]]
                 woe cutpoints.final cutpoints.final[-1] iv.total.final   1
(-Inf,26]  57.257909            -Inf                  26      0.1546488  71
(26,36]     2.639915              26                  36      0.1546488 325
(36,55]   -35.822845              36                  55      0.1546488 280
(55, Inf]  81.235198              55                 Inf      0.1546488 146
Missing           NA             Inf             Missing      0.1546488   0
             0 col.perc.a col.perc.b     iv.bins
(-Inf,26]  301  0.0863747 0.04872127 0.021559565
(26,36]   2379  0.3953771 0.38507608 0.000271939
(36,55]   3011  0.3406326 0.48737455 0.052567141
(55, Inf]  487  0.1776156 0.07882810 0.080250198
Missing      0  0.0000000 0.00000000          NA

[[3]]
iv.total.final
     0.1546488

In [16]:
# Apply the binning to the train data
train <- woe.binning.deploy(train, binning_num)
head(train[, c('age', 'age.binned')])

  age age.binned
1 29  (26,36]
2 39  (36,55]
3 49  (36,55]
4 32  (26,36]
5 29  (26,36]
6 51  (36,55]

In [17]:
# Apply the binning to the test (holdout) data
test_holdout <- woe.binning.deploy(test_holdout, binning_num)

#### Convert categorical variables to dummy

Get the list of numerical and categorical variables.

In [18]:
# Get the IV and DV list name
# Dependent variable (DV)
dv_list <- c('subscribe')
# Independent variable (IV)
iv_list <- setdiff(colnames(train), dv_list)  # Exclude the target variable
iv_list <- setdiff(iv_list, 'client_id')  # Exclude the client_id

In [19]:
# Pick out categorical and numerical variable
iv_cat_list <- c()  # List to store categorical variable
iv_num_list <- c()  # List to store numerical variable
for (v in iv_list) {
    if (class(train[, v]) == 'factor') {  # Factor == categorical variable
        iv_cat_list <- c(iv_cat_list, v)
    } else {  # Non-factor == numerical variable
        iv_num_list <- c(iv_num_list, v)
    }
}

In [20]:
# Join train and test (holdout) to process data
test_holdout$subscribe <- NA  # Create a blank response column on test (holdout data)
data <- rbind(train, test_holdout)  # Combine train and test (holdout) data

Transform to dummy variables.

In [21]:
# Loop through all categorical variable
# Drop the last column of dummy variable
data_dummy_list <- list()
for (v in iv_cat_list) {
    tmp <- to.dummy(data[, v], v)
    data_dummy_list[[length(data_dummy_list) + 1]] <- tmp[, -ncol(tmp), drop=FALSE]
}
data_dummy <- as.data.frame(do.call(cbind, data_dummy_list))

In [22]:
# Drop categorical variables
data_processed <- data[, setdiff(colnames(data), iv_cat_list)]

# Add dummy vairables
data_processed <- cbind(data_processed, data_dummy)

In [23]:
# Print the processed data to check
head(data_processed)

  client_id age campaign pdays previous emp.var.rate cons.price.idx
1 2         29  3        999   0         1.1         93.994
2 3         39  6        999   0         1.4         94.465
3 4         49  2        999   0        -0.1         93.200
4 5         32  3        999   1        -1.8         92.893
5 6         29  2        999   0         1.4         93.918
6 7         51  1        999   0         1.4         94.465
  cons.conf.idx euribor3m nr.employed ... day_of_week.tue poutcome.failure
1 -36.4         4.858     5191.0      ... 0               0
2 -41.8         4.959     5228.1      ... 0               0
3 -42.0         4.153     5195.8      ... 1               0
4 -46.2         1.299     5099.1      ... 0               1
5 -42.7         4.963     5228.1      ... 0               0
6 -41.8         4.864     5228.1      ... 1               0
  poutcome.nonexistent
1 1
2 1
3 1
4 0
5 1
6 1
  job.binned.admin._+_management_+_technician_+_misc._level_neg.
1 1
2 0
3 0
4 0
5 1
6 0
  job.binned.blue-collar_+_services job.binned.misc._level_pos.
1 0                                 0
2 0                                 1
3 1                                 0
4 0                                 1
5 0                                 0
6 0                                 1
  age.binned.(-Inf,26] age.binned.(26,36] age.binned.(36,55]
1 0                    1                  0
2 0                    0                  1
3 0                    0                  1
4 0                    1                  0
5 0                    1                  0
6 0                    0                  1
  age.binned.(55,_Inf]
1 0
2 0
3 0
4 0
5 0
6 0

In [56]:
write.csv(data_processed, 'C:/Users/razow/Desktop/IESEG Subjects/11 Statistical and machine learning approaches/Individual Assignment/basetable.csv', row.names=FALSE)

In [24]:
# Split train and test (holdout) after dummitizing
train_processed <- data_processed[!is.na(data_processed$subscribe), ]
test_holdout_processed <- data_processed[is.na(data_processed$subscribe), -ncol(data_processed)]

#### Variable transformation

Log transformation numerical variable.

In [25]:
# Transform the variable age on train and test (holdout)
# Train
train_processed[, 'age_log'] <- log(train_processed$age)
# Test (holdout)
test_holdout_processed[, 'age_log'] <- log(test_holdout_processed$age)

Standardize numerical variable.

In [26]:
# Standardize the variable age on train and test (holdout)
# Train
train_processed[, 'age_scaled'] <- scale(train_processed$age, center =TRUE, scale=TRUE)  # sd = 1, mean = 0
# Test (holdout)
test_holdout_processed[, 'age_scaled'] <- scale(test_holdout_processed$age, center =TRUE, scale=TRUE)  # sd = 1, mean = 0

### Feature selection: Fisher Score

In [27]:
FisherScore <- function(basetable, depvar, IV_list) {
  "
  This function calculate the Fisher score of a variable.
  
  Ref:
  ---
  Verbeke, W., Dejaeger, K., Martens, D., Hur, J., & Baesens, B. (2012). New insights into churn prediction in the telecommunication sector: A profit driven data mining approach. European Journal of Operational Research, 218(1), 211-229.
  "
  
  # Get the unique values of dependent variable
  DV <- unique(basetable[, depvar])
  
  IV_FisherScore <- c()
  
  for (v in IV_list) {
    fs <- abs((mean(basetable[which(basetable[, depvar]==DV[1]), v]) - mean(basetable[which(basetable[, depvar]==DV[2]), v]))) /
      sqrt((var(basetable[which(basetable[, depvar]==DV[1]), v]) + var(basetable[which(basetable[, depvar]==DV[2]), v])))
    IV_FisherScore <- c(IV_FisherScore, fs)
  }
  
  return(data.frame(IV=IV_list, fisher_score=IV_FisherScore))
}

varSelectionFisher <- function(basetable, depvar, IV_list, num_select=20) {
  "
  This function will calculate the Fisher score for all IVs and select the best
  top IVs.

  Assumption: all variables of input dataset are converted into numeric type.
  "
  
  fs <- FisherScore(basetable, depvar, IV_list)  # Calculate Fisher Score for all IVs
  num_select <- min(num_select, ncol(basetable))  # Top N IVs to be selected
  return(as.vector(fs[order(fs$fisher_score, decreasing=T), ][1:num_select, 'IV']))
}

In [28]:
# Calculate Fisher Score for all variable
# Get the IV and DV list
dv_list <- c('subscribe')  # DV list
iv_list <- setdiff(names(train_processed), dv_list)  # IV list excluded DV
iv_list <- setdiff(iv_list, 'client_id')  # Excluded the client_id
fs <- FisherScore(train_processed, dv_list, iv_list)
head(fs)

  IV             fisher_score
1 age            0.08399095
2 campaign       0.14422181
3 pdays          0.45039557
4 previous       0.38126476
5 emp.var.rate   0.67808361
6 cons.price.idx 0.30255045

In [29]:
# Select top 20 variables according to the Fisher Score
best_fs_var <- varSelectionFisher(train_processed, dv_list, iv_list, num_select=20)
best_fs_var

 [1] "nr.employed"                       "euribor3m"
 [3] "emp.var.rate"                      "pdays"
 [5] "pdays_999"                         "contact.cellular"
 [7] "previous"                          "poutcome.nonexistent"
 [9] "cons.price.idx"                    "month.may"
[11] "month.oct"                         "job.binned.misc._level_pos."
[13] "default.no"                        "age.binned.(36,55]"
[15] "age.binned.(55,_Inf]"              "month.mar"
[17] "job.binned.blue-collar_+_services" "job.retired"
[19] "job.student"                       "job.blue-collar"

In [30]:
c('client_id', names(train_processed) %in% best_fs_var, 'subscribe')

 [1] "client_id" "FALSE"     "FALSE"     "FALSE"     "TRUE"      "TRUE"
 [7] "TRUE"      "TRUE"      "FALSE"     "TRUE"      "TRUE"      "FALSE"
[13] "TRUE"      "FALSE"     "FALSE"     "FALSE"     "TRUE"      "FALSE"
[19] "FALSE"     "FALSE"     "TRUE"      "FALSE"     "FALSE"     "TRUE"
[25] "FALSE"     "FALSE"     "FALSE"     "FALSE"     "FALSE"     "FALSE"
[31] "FALSE"     "FALSE"     "FALSE"     "FALSE"     "FALSE"     "FALSE"
[37] "TRUE"      "FALSE"     "FALSE"     "FALSE"     "FALSE"     "TRUE"
[43] "FALSE"     "FALSE"     "FALSE"     "FALSE"     "FALSE"     "TRUE"
[49] "TRUE"      "FALSE"     "TRUE"      "FALSE"     "FALSE"     "FALSE"
[55] "FALSE"     "FALSE"     "TRUE"      "FALSE"     "TRUE"      "TRUE"
[61] "FALSE"     "FALSE"     "TRUE"      "TRUE"      "FALSE"     "FALSE"
[67] "subscribe"

In [31]:
# Apply variable selection on train and test (holdout)
# Train
train_var_select <- names(train_processed)[names(train_processed) %in% best_fs_var]
train_processed <- train_processed[, c('client_id', train_var_select, 'subscribe')]

# Test (holdout)
test_hd_var_select <- names(test_holdout_processed)[names(test_holdout_processed) %in% best_fs_var]
test_holdout_processed <- test_holdout_processed[, c('client_id', test_hd_var_select)]

### Finalize data processing

In [32]:
# Check if train and test (holdout) have same variables
dim(train_processed)
dim(test_holdout_processed)

[1] 7000   22

[1] 3000   20

In [33]:
# Add some columns in train but not in test (holdout)
missing_test_var <- setdiff(names(train_processed), names(test_holdout_processed))
missing_test_var <- setdiff(missing_test_var, 'subscribe')  # Exclude the target variable
missing_test_var

# Add this variable to test (holdout) data, value = 0
test_holdout_processed[, missing_test_var] <- 0

[1] "age.binned.(55,_Inf]"

In [34]:
# Rename the data columns
# Train
for (v in colnames(train_processed)) {
    fix_name <- str_replace_all(v, "[^[:alnum:] ]", "_")
    colnames(train_processed)[colnames(train_processed) == v] <- fix_name
}
# Test (holdout)
for (v in colnames(test_holdout_processed)) {
    fix_name <- str_replace_all(v, "[^[:alnum:] ]", "_")
    colnames(test_holdout_processed)[colnames(test_holdout_processed) == v] <- fix_name
}

In [35]:
# Print out to check
head(train_processed)

  client_id pdays previous emp_var_rate cons_price_idx euribor3m nr_employed
1 2         999   0         1.1         93.994         4.858     5191.0
2 3         999   0         1.4         94.465         4.959     5228.1
3 4         999   0        -0.1         93.200         4.153     5195.8
4 5         999   1        -1.8         92.893         1.299     5099.1
5 6         999   0         1.4         93.918         4.963     5228.1
6 7         999   0         1.4         94.465         4.864     5228.1
  pdays_999 job_blue_collar job_retired ... contact_cellular month_mar
1 1         0               0           ... 0                0
2 1         0               0           ... 0                0
3 1         1               0           ... 1                0
4 1         0               0           ... 1                0
5 1         0               0           ... 1                0
6 1         0               0           ... 0                0
  month_may month_oct poutcome_nonexistent job_binned_blue_collar___services
1 1         0         1                    0
2 0         0         1                    0
3 0         0         1                    1
4 1         0         0                    0
5 0         0         1                    0
6 0         0         1                    0
  job_binned_misc__level_pos_ age_binned__36_55_ age_binned__55__Inf_ subscribe
1 0                           0                  0                    0
2 1                           1                  0                    0
3 0                           1                  0                    0
4 1                           0                  0                    0
5 0                           0                  0                    0
6 1                           1                  0                    0

## 3. Benchmark

In [48]:
# Create a list of learners
lrns1 = list(
makeLearner("classif.logreg", predict.type="prob", id = "logreg"),
makeLearner("classif.randomForest", predict.type="prob", id = "randomForest"),
makeLearner("classif.gbm", predict.type="prob", id = "gbm"),
makeLearner("classif.svm", predict.type="prob", id = "svm"),
makeLearner("classif.ada", predict.type="prob", id = "ada")
)

# Definition of the task
train_task1 <- makeClassifTask(id="bank_train", data=train_processed[, -1], target="subscribe")

# Definition of metrics
meas = list(auc, mmce, timetrain)

In [49]:
# Definition of resampling method
rdesc1 = makeResampleDesc("CV", iters = 10)

# Application of benchmark
bmr = benchmark(lrns1, train_task1, rdesc1, meas, show.info = FALSE)
bmr

Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...

     task.id   learner.id auc.test.mean mmce.test.mean timetrain.test.mean
1 bank_train       logreg     0.7942082      0.1070000               0.052
2 bank_train randomForest     0.7727132      0.1057143               4.807
3 bank_train          gbm     0.7893713      0.1047143               0.326
4 bank_train          svm     0.6802879      0.1084286               7.751
5 bank_train          ada     0.7986515      0.1028571               3.256

In [50]:
# Definition of resampling method (Cross-Validation)
rdesc1 = makeResampleDesc("CV", iters = 9)

# Application of benchmark
bmr = benchmark(lrns1, train_task1, rdesc1, meas, show.info = FALSE)
bmr

Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...

     task.id   learner.id auc.test.mean mmce.test.mean timetrain.test.mean
1 bank_train       logreg     0.7916258      0.1065704          0.03666667
2 bank_train randomForest     0.7703538      0.1054269          5.11000000
3 bank_train          gbm     0.7874482      0.1049979          0.33888889
4 bank_train          svm     0.6825882      0.1099982          9.02222222
5 bank_train          ada     0.8002422      0.1048549          3.28000000

In [51]:
# Definition of resampling method (Holdout)
rdesc1 = makeResampleDesc("Holdout", iters = 9)

# Application of benchmark
bmr = benchmark(lrns1, train_task1, rdesc1, meas, show.info = FALSE)
bmr

Distribution not specified, assuming bernoulli ...

     task.id   learner.id auc.test.mean mmce.test.mean timetrain.test.mean
1 bank_train       logreg     0.7937699      0.1053985                0.03
2 bank_train randomForest     0.7419952      0.1019709                3.33
3 bank_train          gbm     0.7918014      0.1032562                0.25
4 bank_train          svm     0.6836724      0.1032562                4.36
5 bank_train          ada     0.7999509      0.1032562                2.40

In [53]:
# Definition of resampling method (Boostrap)
rdesc1 = makeResampleDesc("Bootstrap", iters = 9)

# Application of benchmark
bmr = benchmark(lrns1, train_task1, rdesc1, meas, show.info = FALSE)
bmr

Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...
Distribution not specified, assuming bernoulli ...

     task.id   learner.id auc.test.mean mmce.test.mean timetrain.test.mean
1 bank_train       logreg     0.7832739      0.1067651          0.04777778
2 bank_train randomForest     0.7688386      0.1075953          5.38666667
3 bank_train          gbm     0.7855032      0.1061147          0.36888889
4 bank_train          svm     0.6892997      0.1098389          9.03666667
5 bank_train          ada     0.7920311      0.1062922          3.30444444

## 3. Modeling

### 3.1. Adaptive Boosting

In [45]:
# Set up cross-validation
rdesc = makeResampleDesc("CV", iters=9, predict="both")

# Define the model
learner <- makeLearner("classif.ada", predict.type="prob", fix.factors.prediction=T)

# Define the task
train_task <- makeClassifTask(id="bank_train", data=train_processed[, -1], target="subscribe")

# Set hyper parameter tuning
tune_params <- makeParamSet(
)
ctrl = makeTuneControlGrid()

# Run the hyper parameter tuning with k-fold CV
if (length(tune_params$pars) > 0) {
    # Run parameter tuning
    res <- tuneParams(learner, task=train_task, resampling=rdesc,
      par.set=tune_params, control=ctrl, measures=list(mlr::auc))
    
    # Extract best model
    best_learner <- res$learner
    
} else {
    # Simple cross-validation
    res <- resample(learner, train_task, rdesc, measures=list(mlr::auc, setAggregation(mlr::auc, train.mean)))
    
    # No parameter for tuning, only 1 best learner
    best_learner <- learner
}

Resampling: cross-validation
Measures:             auc.train   auc.test
[Resample] iter 1:    0.8200489   0.7998587
[Resample] iter 2:    0.8198381   0.8062551
[Resample] iter 3:    0.8297003   0.7410643
[Resample] iter 4:    0.8208506   0.7871035
[Resample] iter 5:    0.8169124   0.8292884
[Resample] iter 6:    0.8212491   0.7563349
[Resample] iter 7:    0.8166291   0.8265992
[Resample] iter 8:    0.8167556   0.7961191
[Resample] iter 9:    0.8142538   0.8241925


Aggregated Result: auc.test.mean=0.7963128,auc.train.mean=0.8195820

In [46]:
# Retrain the model with tbe best hyper-parameters
best_md <- mlr::train(best_learner, train_task)

In [47]:
# Make prediction on test data
pred <- predict(best_md, newdata=test_holdout_processed[, -1])
pred

Prediction: 3000 observations
predict.type: prob
threshold: 0=0.50,1=0.50
time: 0.30
        prob.0     prob.1 response
7001 0.9400665 0.05993348        0
7002 0.9514678 0.04853220        0
7003 0.7642482 0.23575181        0
7004 0.9448104 0.05518961        0
7005 0.9525380 0.04746203        0
7006 0.9310731 0.06892690        0
... (#rows: 3000, #cols: 3)

In [140]:
# Output predicted file
output <- data.frame(client_id=test_holdout$client_id, subscribe=pred$data$prob.1)
write.csv(output, 'C:/Users/razow/Desktop/IESEG Subjects/11 Statistical and machine learning approaches/Individual Assignment/ada.csv', row.names=FALSE)